#components-layout-demo-responsive .logo {
    color:rgba(255, 255, 255, 0.8);
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  
  .site-layout-sub-header-background {
    background: #fff;
  }
  
  .site-layout-background {
    background: #fff;
  }